@{
    ViewBag.Title = "Cadastros Básicos \\ Processo Eventos";
}

<div class="main_container">

    <input type="hidden" id="id" name="id" value="">
    <input type="hidden" id="nome" name="nome" value="">

    <div id="modalNovo" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <form id="evento-form">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 24pt;">&times;</span></button>
                        <h3 class="modal-title"><label id="modalLabelTitle" name="modalLabelTitle">Novo Evento</label></h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="titlefield">Código <span class="required">*</span></label>
                                    <input type="text" class="form-control" placeholder="Informe o Código do Evento" id="Codigo" name="Codigo" data-msg-required="Por favor, insira o Código do Evento." data-rule-required="true" maxlength="5" />
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label class="titlefield">Nome <span class="required">*</span></label>
                                    <input type="text" class="form-control" placeholder="Informe o Nome do Evento" id="Nome" name="Nome" data-msg-required="Por favor, insira o Nome do Evento." data-rule-required="true" maxlength="100" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="titlefield">Tipo</label>
                                    <select id="Tipo" name="Tipo" class="form-control placeholder">
                                        <option value=" ">Selecione Tipo</option>
                                        <option value="PRA">PRAZO</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="titlefield">Aplicativo <span id="clienteRequired" class="required">*</span></label>
                                <br />
                                <div class="radio-item">
                                    <input type="radio" id="AplicativoSim" name="Aplicativo" value="S">
                                    <label for="AplicativoSim">Sim</label>
                                </div>
                                <div class="radio-item">
                                    <input type="radio" id="AplicativoNao" name="Aplicativo" value="N">
                                    <label for="AplicativoNao">Não</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="titlefield">WhatsApp <span id="clienteRequired" class="required">*</span></label>
                                <br />
                                <div class="radio-item">
                                    <input type="radio" id="WhatsAppSim" name="WhatsApp" value="S">
                                    <label for="WhatsAppSim">Sim</label>
                                </div>
                                <div class="radio-item">
                                    <input type="radio" id="WhatsAppNao" name="WhatsApp" value="N">
                                    <label for="WhatsAppNao">Não</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="titlefield">Texto</label>
                                    <textarea id="Texto" name="Texto" class="form-control" rows="15"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="modal-footer">
                            <button id="buttonSalvar" type="button" class="btn btn-primary" style="margin: 0;" data-dismiss="modal">Salvar</button>
                            &nbsp;
                            <button type="button" class="btn btn-default" style="margin: 0;" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
            </form>

        </div>
    </div>

    <div id="modalExcluir" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 24pt;">&times;</span></button>
                    <h3 class="modal-title" id="modalLabelExcluir">Excluir Evento</h3>
                </div>
                <div class="modal-body">
                    <h4>Você deseja realmente excluir esse Evento?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" style="margin: 0;" data-dismiss="modal" onclick="ExcluirConfirmado();">Sim</button>
                    &nbsp;
                    <button type="button" class="btn btn-default" style="margin: 0;" data-dismiss="modal">Não</button>
                </div>
            </div>

        </div>
    </div>

    <!-- page content -->
    <div role="main">
        <div class="">

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        @{ WebGrid grid = new WebGrid(Model); }
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Criar e Filtrar Eventos</h2>
                                        <ul class="right panel_toolbox" style="list-style: none;">
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalNovo" style="margin-top: 25px !important;" onclick="Novo();">Novo</button>
                                                </div>
                                            </div>
                                            @using (Html.BeginForm("Index", "Eventos", FormMethod.Get, null))
                                            {
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="titlefield">Código</label>
                                                        <input id="FiltrarCodigo" name="FiltrarCodigo" type="search" class="form-control" placeholder="Informe o Código" value="@ViewBag.FiltrarCodigo" style="border: 1px solid #CCCCCC !important;" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="titlefield">Nome do Evento</label>
                                                        <input id="FiltrarNome" name="FiltrarNome" type="search" class="form-control" placeholder="Informe o Nome" value="@ViewBag.FiltrarNome" style="border: 1px solid #CCCCCC !important;" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group" style="vertical-align: bottom !important;">
                                                        <button type="submit" class="btn btn-primary" style="margin-top: 25px !important;">Filtrar</button>
                                                        &nbsp;
                                                        <button type="submit" class="btn btn-default" style="margin-top: 25px !important;" onclick="$('#FiltrarCodigo').val(''); $('#FiltrarNome').val('');">Limpar</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            @{
                                @grid.GetHtml(
                                     tableStyle: "webgrid",
                                     fillEmptyRows: false,
                                     headerStyle: "webgrid-header",
                                     alternatingRowStyle: "webgrid-alternating-row",
                                     rowStyle: "webgrid-row-style",
                                     selectedRowStyle: "webgrid-selected-row",
                                     footerStyle: "webgrid-footer",
                                     mode: WebGridPagerModes.All,
                                     firstText: "Primeiro",
                                     previousText: "Anterior",
                                     nextText: "Próximo",
                                     lastText: "Último",
                                     numericLinksCount: 5,
                                     columns: new[] {
                                     grid.Column("Codigo", header: "Código"),
                                     grid.Column("Descricao", header: "Nome"),
                                     grid.Column("ID", header: "Ações", canSort:false,
                                     format:
                                        @<text>
                                            @Html.Raw("<a class='btn btn-default btn-xs' data-toggle='modal' data-backdrop='static' data-target='#modalNovo' onclick='Visualizar(" + item.ID + ");'>Visualizar</a>")
                                            @Html.Raw("<a class='btn btn-primary btn-xs' data-toggle='modal' data-backdrop='static' data-target='#modalNovo' onclick='Alterar(" + item.ID + ");'>Alterar</a>")
                                            @Html.Raw("<a class='btn btn-danger  btn-xs' data-toggle='modal' data-target='#modalExcluir' onclick='Excluir(" + item.ID + ", " + '"' + item.Descricao + '"' + ");'>Excluir</a>")
                                        </text>)
                                     });

                                int firstRecord = (grid.PageIndex * grid.RowsPerPage) + 1;
                                int lastRecord = (grid.PageIndex * grid.RowsPerPage) + grid.Rows.Count();

                                var totalRecord = "Nenhuma linha encontrada";

                                if (grid.TotalRowCount == 1)
                                {
                                    totalRecord = "Mostrando " + firstRecord + " a " + lastRecord + " de " + grid.TotalRowCount + " linha";
                                }
                                else if (grid.TotalRowCount > 1)
                                {
                                    totalRecord = "Mostrando " + firstRecord + " a " + lastRecord + " de " + grid.TotalRowCount + " linhas";
                                }

                                <div class="right">@totalRecord</div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /page content -->

    <script>

        function Novo() {
            $('#modalLabelTitle').text('Novo Evento');
            $('#Codigo').attr('disabled', false);
            $('#Codigo').val('');
            $('#Nome').attr('disabled', false);
            $('#Nome').val('');
            $('#Tipo').attr('disabled', false);
            $('#Tipo').val('');
            $('input[name=Aplicativo][value="S"]').attr('disabled', false);
            $('input[name=Aplicativo][value="N"]').attr('disabled', false);
            $('input[name=Aplicativo][value="N"]').prop('checked', true).trigger('change');
            $('input[name=WhatsApp][value="S"]').attr('disabled', false);
            $('input[name=WhatsApp][value="N"]').attr('disabled', false);
            $('input[name=WhatsApp][value="N"]').prop('checked', true).trigger('change');
            $('#buttonSalvar').attr('disabled', false);
            $('#id').val(0);
            $("#evento-form").validate().resetForm();
        }

        function Visualizar(Id) {
            $('#modalLabelTitle').text('Visualizar Evento');
            $('#Codigo').attr('disabled', true);
            $('#Nome').attr('disabled', true);
            $('#Texto').attr('disabled', true);
            $('#Tipo').attr('disabled', true);
            $('input[name=Aplicativo][value="S"]').attr('disabled', true);
            $('input[name=Aplicativo][value="N"]').attr('disabled', true);
            $('input[name=WhatsApp][value="S"]').attr('disabled', true);
            $('input[name=WhatsApp][value="N"]').attr('disabled', true);
            $('#buttonSalvar').attr('disabled', true);
            $("#evento-form").validate().resetForm();

            var dados = new window.FormData();
            dados.append("Id", Id);

            var options = {};
            options.url = "/Eventos/Consultar"
            options.type = "POST";
            options.data = dados;
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    $('#Codigo').val(json.evento[0].Codigo);
                    $('#Nome').val(json.evento[0].Nome);
                    $('#Texto').val(json.evento[0].Texto);
                    $('#Tipo').val(json.evento[0].Tipo);

                    var aplicativo = "N"
                    if (json.evento[0].Aplicativo) {
                        aplicativo = "S"
                    }

                    $('input[name=Aplicativo][value="' + aplicativo + '"]').prop('checked', true).trigger('change');

                    var whatsApp = "N"
                    if (json.evento[0].WhatsApp) {
                        whatsApp = "S"
                    }
                    $('input[name=WhatsApp][value="' + whatsApp + '"]').prop('checked', true).trigger('change');

                }
            };
            $.ajax(options);
        }

        function Alterar(Id) {
            $('#modalLabelTitle').text('Alterar Evento');
            $('#Codigo').attr('disabled', false);
            $('#Nome').attr('disabled', false);
            $('#Texto').attr('disabled', false);
            $('#Tipo').attr('disabled', false);
            $('input[name=Aplicativo][value="S"]').attr('disabled', false);
            $('input[name=Aplicativo][value="N"]').attr('disabled', false);
            $('input[name=WhatsApp][value="S"]').attr('disabled', false);
            $('input[name=WhatsApp][value="N"]').attr('disabled', false);
            $('#buttonSalvar').attr('disabled', false);
            $("#evento-form").validate().resetForm();

            var dados = new window.FormData();
            dados.append("Id", Id);

            var options = {};
            options.url = "/Eventos/Consultar"
            options.type = "POST";
            options.data = dados;
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    $('#id').val(Id);
                    $('#Codigo').val(json.evento[0].Codigo);
                    $('#Nome').val(json.evento[0].Nome);
                    $('#Texto').val(json.evento[0].Texto);
                    $('#Tipo').val(json.evento[0].Tipo);

                    var aplicativo = "N"
                    if (json.evento[0].Aplicativo) {
                        aplicativo = "S"
                    }

                    $('input[name=Aplicativo][value="' + aplicativo + '"]').prop('checked', true).trigger('change');

                    var whatsApp = "N"
                    if (json.evento[0].WhatsApp) {
                        whatsApp = "S"
                    }
                    $('input[name=WhatsApp][value="' + whatsApp + '"]').prop('checked', true).trigger('change');

                }
            };
            $.ajax(options);
        }

        function Excluir(Id, Nome) {
            $('h4').text('Você deseja realmente excluir esse Evento (' + Nome + ')?');
            $('#id').val(Id);
            $('#nome').val(Nome);
        }
        
        $('#buttonSalvar').click(function (evt) {

            $("#evento-form").validate();

            if ($('#evento-form').valid()) {

                var dados = new window.FormData();
                dados.append("Id", $("#id").val());
                dados.append("Codigo", $("#Codigo").val());
                dados.append("Nome", $("#Nome").val());
                dados.append("Texto", $("#Texto").val());
                dados.append("Tipo", $("#Tipo").val());
                dados.append("Aplicativo", $("input[type='radio'][name='Aplicativo']:checked").val());
                dados.append("WhatsApp", $("input[type='radio'][name='WhatsApp']:checked").val());

                var options = {};
                options.url = "/Eventos/Salvar"
                options.type = "POST";
                options.data = dados;
                options.asyn = true;
                options.contentType = false;
                options.processData = false;
                options.dataType = "application/json; charset=utf-8";
                options.complete = function (data) {

                    var json = $.parseJSON(data.responseText);

                    if (json.codigo == '00') {

                        $('h4').text('Evento salvo com sucesso!');
                        $('#modalMensagem').attr('data-backdrop', 'static');
                        $('#modalMensagem').attr('data-keyboard', 'false');
                        $('#modalMensagem').modal('show');
                        $("#evento-form").validate().resetForm();

                    }
                };
                $.ajax(options);

                evt.preventDefault();
            }
            else {
                return false;
            }

        });

        function ExcluirConfirmado() {
            var dados = new window.FormData();
            dados.append("Id", $("#id").val());

            $('#id').val('');

            var options = {};
            options.url = "/Eventos/Excluir"
            options.type = "POST";
            options.data = dados;
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    $('h4').text('Evento excluído com sucesso!');
                    $('#modalMensagem').attr('data-backdrop', 'static');
                    $('#modalMensagem').attr('data-keyboard', 'false');
                    $('#modalMensagem').modal('show');
                    $("#evento-form").validate().resetForm();

                }
                else if (json.codigo == '98') {

                    $('h4').text('Não foi possível excluir o Evento (' + $("#nome").val() + ') por que está sendo usado em outras tabelas! Você pode inativar ele para não ser usado novamente.');
                    $('#modalMensagem').attr('data-backdrop', 'static');
                    $('#modalMensagem').attr('data-keyboard', 'false');
                    $('#modalMensagem').modal('show');

                }
                else if (json.codigo == '99') {

                    $('h4').text('Ocorreu um erro que impossibilitou a exclusão do Evento (' + $("#nome").val() + '), tente mais tarde! Se o problema persistir, entre em contato com o suporte.');
                    $('#modalMensagem').attr('data-backdrop', 'static');
                    $('#modalMensagem').attr('data-keyboard', 'false');
                    $('#modalMensagem').modal('show');

                }

            };
            $.ajax(options);
        }

        function Atualizar() {
            $(location).attr('href', '../Eventos');
        }

    </script>

</div>
