@{
    ViewBag.Title = "Criar Procurações PDF";
}

<div class="main_container">

    <input type="hidden" id="id" name="id" value="0">
    <input type="hidden" id="nome" name="nome" value="">

    <div class="x_panel">
        <div class="x_title">
            <h2>
                Filtrar Procurações
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a id="tab-listar" href="#tab_content_listar" role="tab" data-toggle="tab" aria-expanded="true">Listar</a>
                    </li>
                    <li role="presentation" class="">
                        <a id="tab-cadastrar" href="#tab_content_cadastrar" role="tab" data-toggle="tab" aria-expanded="false">Cadastrar</a>
                    </li>
                    <li role="presentation" class="">
                        <a id="tab-visualizar" href="#tab_content_visualizar" role="tab" data-toggle="tab" aria-expanded="false">Visualizar</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content_listar" aria-labelledby="tab-listar" style="margin-left: 0 !important; margin-right: 0 !important;">
                        <div role="main">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div>
                                        @{ WebGrid grid = new WebGrid(Model); }

                                        @using (Html.BeginForm("Index", "Documentos", FormMethod.Get, new { id = "documento-filtro-form" }))
                                        {
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="titlefield">Data</label>
                                                        <div id="FiltrarData" name="FiltrarData" class="input-group date" style="margin: 0 !important;">
                                                            <input id="FiltrarDataValor" name="FiltrarDataValor" class="form-control placeholder" type="text" style="height: 40px !important;" readonly />
                                                            <span class="input-group-addon" style="border-radius: 0px !important; padding: 11px 12px !important;"><i class="glyphicon glyphicon-calendar"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="titlefield">Nome Modelo do Documento</label>
                                                        <select id="FiltrarModelo" name="FiltrarModelo" class="select2_single form-control" onselect="Modelo()"></select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="titlefield">Nome do Cliente</label>
                                                        <select id="FiltrarCliente" name="FiltrarCliente" class="select2_single form-control"></select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group" style="vertical-align: bottom !important; margin-bottom: 0px !important;">
                                                        <button type="submit" class="btn btn-primary" style="margin-top: 25px !important;">Filtrar</button>
                                                        &nbsp;
                                                        <button id="Limpar" name="Limpar" type="button" class="btn btn-default" style="margin-top: 25px !important;" onclick="LimparFiltro();">Limpar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        <div>
                                            @{
                                                @grid.GetHtml(
                                                htmlAttributes: new { id = "MainTable" },
                                                tableStyle: "webgrid",
                                                fillEmptyRows: false,
                                                headerStyle: "webgrid-header",
                                                alternatingRowStyle: "webgrid-alternating-row",
                                                rowStyle: "webgrid-row-style",
                                                selectedRowStyle: "webgrid-selected-row",
                                                footerStyle: "webgrid-footer",
                                                mode: WebGridPagerModes.All,
                                                firstText: "Primeiro",
                                                previousText: "Anterior",
                                                nextText: "Próximo",
                                                lastText: "Último",
                                                numericLinksCount: 5,
                                                columns: new[] {
                                                grid.Column("DataCadastro", header: "Data", format: (item) => (item.DataCadastro == null ? string.Empty : string.Format("{0:dd/MM/yyyy}", item.DataCadastro))),
                                                grid.Column("Modelos.Nome", header: "Nome do Documento"),
                                                grid.Column("Clientes.Pessoas.Nome", header: "Nome do Cliente"),
                                                //grid.Column("Profissionais.Pessoas.Nome", header: "Nome do Profissional"),
                                                grid.Column("Id", header: "Ações", canSort:false,
                                                format:
                                    @<text>
                                        @Html.Raw("<a class='btn btn-default btn-xs' onclick='Visualizar(" + item.Id + ");'>Visualizar</a>")

                                        @{ if (Uranus.Suite.Sessao.Usuario.Nivel == 5)
                                                       {
                                            @Html.Raw("<a class='btn btn-primary btn-xs' onclick='Alterar(" + item.Id + ");'>Alterar</a>")
                                            @Html.Raw("<a class='btn btn-danger  btn-xs' data-toggle='modal' data-target='#modalExcluir' onclick='Excluir(" + item.ID + ", " + '"' + item.Modelos.Nome + '"' + ", " + '"' + item.Clientes.Pessoas.Nome + '"' + ");'>Excluir</a>")
                                            @Html.Raw("<a class='btn btn-info btn-xs' onclick='Exportar(" + item.Id + ");'>Exportar PDF</a>")
                                                       }
                                        }
                                    </text>)
                  });

                                                int firstRecord = (grid.PageIndex * grid.RowsPerPage) + 1;
                                                int lastRecord = (grid.PageIndex * grid.RowsPerPage) + grid.Rows.Count();

                                                var totalRecord = "Nenhuma linha encontrada";

                                                if (grid.TotalRowCount == 1)
                                                {
                                                    totalRecord = "Mostrando " + firstRecord + " a " + lastRecord + " de " + grid.TotalRowCount + " linha";
                                                }
                                                else if (grid.TotalRowCount > 1)
                                                {
                                                    totalRecord = "Mostrando " + firstRecord + " a " + lastRecord + " de " + grid.TotalRowCount + " linhas";
                                                }

                                                <div class="right">@totalRecord</div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content_cadastrar" aria-labelledby="tab-cadastrar">
                        <!-- Documento -->
                        <div class="feedback-box" style="margin-left: 0 !important; margin-right: 0 !important;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 id="TituloDocumento"><b>Novo Documento</b></h4>
                                    <hr />
                                </div>
                            </div>
                            <form id="documento-form">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="titlefield">Nome Modelo do Documento <span class="required">*</span></label><br />
                                            <select id="Modelo" name="Modelo" class="select2_single form-control" style="width: 100% !important;" onselect="Modelo()"></select>
                                            <label id="ModeloValidate" name="ModeloValidate" for="Modelo" class="error hidden"> Por favor, selecione um Modelo.</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="titlefield">Nome do Cliente <span class="required">*</span></label><br />
                                            <select id="Cliente" name="Cliente" class="select2_single form-control" style="width: 100% !important;"></select>
                                            <label id="ClienteValidate" name="ClienteValidate" for="Cliente" class="error hidden"> Por favor, selecione um Cliente.</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="titlefield">Nome do Profissional</label><br />
                                            <select id="Profissional" name="Profissional" class="select2_single form-control" style="width: 100% !important;"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="titlefield">Cláusula Primeira</label>
                                            <textarea id="ClausulaPrimeira" name="ClausulaPrimeira" class="form-control placeholder" placeholder="Informe aqui o Objeto" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="titlefield">Cláusula Segunda Benefícios</label>
                                            <input type="text" class="form-control" placeholder="Informe o Benefício" id="ClausulaSegundaBeneficios" name="ClausulaSegundaBeneficios" maxlength="3" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="titlefield">Cláusula Segunda Valor</label>
                                            <input type="text" class="form-control" placeholder="Informe o Valor" id="ClausulaSegundaValor" name="ClausulaSegundaValor" maxlength="18" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="titlefield">Cláusula Segunda Parcelas</label>
                                            <input type="text" class="form-control" placeholder="Informe as Parcelas" id="ClausulaSegundaParcelas" name="ClausulaSegundaParcelas" maxlength="100" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="titlefield">Cláusula Segunda Dia do Vencimento</label>
                                            <input type="text" class="form-control" placeholder="Informe o Dia" id="ClausulaSegundaVencimentoDia" name="ClausulaSegundaVencimentoDia" maxlength="100" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="titlefield">Cláusula Segunda Vencimento</label>
                                            <textarea id="ClausulaSegundaVencimento" name="ClausulaSegundaVencimento" class="form-control placeholder" placeholder="Informe aqui o Objeto" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="titlefield">Especificação Procuraçao</label>
                                            <textarea id="EspecificacaoProcuracao" name="EspecificacaoProcuracao" class="form-control placeholder" placeholder="Informe aqui a Especificação da Procuração" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3" >
                                        <div class="form-group">
                                            <label class="titlefield">Cláusula Segunda Percentual</label>
                                            <input type="text" class="form-control" placeholder="Informe o Benefício" id="ClausulaSegundaPercentual" name="ClausulaSegundaPercentual" maxlength="3" />
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="titlefield">Nome da Cidade e Sigla do Estado</label>
                                            <input type="text" class="form-control" placeholder="Informe o Valor" id="CidadeEstado" name="CidadeEstado" maxlength="50" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="titlefield">Data Por Extenso</label>
                                            <div id="DataPorExtenso" name="DataPorExtenso" class="input-group date" style="margin: 0 !important;">
                                                <input id="DataPorExtensoValor" name="DataPorExtensoValor" class="form-control placeholder" type="text" style="height: 40px !important;" readonly />
                                                <span class="input-group-addon" style="border-radius: 0px !important; padding: 11px 12px !important;"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @{ if (Uranus.Suite.Sessao.Usuario.Nivel == 5)
                                    {
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="titlefield">Data Cadastro</label>
                                                    <input type="text" class="form-control" id="DataCadastro" name="DataCadastro" readonly />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="titlefield">Usuário Cadastro</label>
                                                    <input type="text" class="form-control" id="UsuarioCadastro" name="UsuarioCadastro" readonly />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="titlefield">Data Alteração</label>
                                                    <input type="text" class="form-control" id="DataAlteracao" name="DataAlteracao" readonly />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="titlefield">Usuário Alteração</label>
                                                    <input type="text" class="form-control" id="UsuarioAlteracao" name="UsuarioAlteracao" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="modal-footer">
                                    <button id="buttonSalvar" type="button" class="btn btn-primary" style="margin: 0;" data-dismiss="modal">Salvar</button>
                                    &nbsp;
                                    <button id="buttonFechar" type="button" class="btn btn-default" style="margin: 0;" data-dismiss="modal">Fechar</button>
                                </div>
                                <div class="alert alert-success hidden" id="documento-alert-success">
                                    <strong>SUCESSO:</strong> Cadastrado do documento realizado com sucesso.
                                </div>
                                <div class="alert alert-danger hidden" id="documento-alert-error">
                                    <strong>ERRO:</strong> Algo deu errado ao efetuar o cadastro do documento.
                                </div>
                            </form>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content_visualizar" aria-labelledby="tab-visualizar">
                        <div id="VisualizarDocumento" name="VisualizarDocumento">
                            <p>Nenhum documento foi selecionado para visualização.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalExcluir" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 24pt;">&times;</span></button>
                        <h3 class="modal-title" id="modalLabelExcluir">Excluir Documento</h3>
                    </div>
                    <div class="modal-body">
                        <h4>Você deseja realmente excluir esse Documento?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" style="margin: 0;" data-dismiss="modal" onclick="ExcluirConfirmado();">Sim</button>
                        &nbsp;
                        <button type="button" class="btn btn-default" style="margin: 0;" data-dismiss="modal">Não</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <!-- select2 -->
    <script src="~/Scripts/select/select2.full.js"></script>

    <!-- simditor -->
    <script type="text/javascript" src="~/Scripts/simditor/module.js"></script>
    @*<script type="text/javascript" src="~/Scripts/simditor/uploader.js"></script>*@
    <script type="text/javascript" src="~/Scripts/simditor/hotkeys.js"></script>
    @*<script type="text/javascript" src="~/Scripts/simditor/dompurify.js"></script>*@
    <script type="text/javascript" src="~/Scripts/simditor/simditor.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery.maskMoney.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mask.js"></script>

    <!-- datepicker -->
    <script type="text/javascript" src="~/Scripts/datepicker/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>

    <script>

        var tr = $('#VisualizeTable').find('tr');
        tr.removeClass('webgrid-selected-row');

        var tr = $('#MainTable').find('tr');
        tr.removeClass('webgrid-selected-row');
        tr.bind('click', function (event) {
            tr.removeClass('webgrid-selected-row');
            $(this).addClass('webgrid-selected-row');
        });

        $("#FiltrarData").datepicker({
            language: 'pt-BR',
            autoclose: true,
            todayHighlight: true,
            orientation: "bottom",
            clearBtn: true
        });

        $('#FiltrarDataValor').val(@Html.Raw(Json.Encode(ViewBag.FiltrarDataValor)));

        var select = $('#FiltrarModelo');
        select.append(
            $('<option selected></option>').val(@Html.Raw(Json.Encode(ViewBag.FiltrarModelo))).html(@Html.Raw(Json.Encode(ViewBag.FiltrarModelo)))
        );
        $('#FiltrarModelo').trigger('change');

        var select = $('#FiltrarCliente');
        select.append(
            $('<option selected></option>').val(@Html.Raw(Json.Encode(ViewBag.FiltrarCliente))).html(@Html.Raw(Json.Encode(ViewBag.FiltrarCliente)))
        );
        $('#FiltrarCliente').trigger('change')

        $("#FiltrarModelo").select2({
            placeholder: "Selecione um Modelo",
            allowClear: true,
            tags: true
        });

        $("#FiltrarCliente").select2({
            placeholder: "Selecione um Cliente",
            allowClear: true,
            tags: true,
            minimumInputLength: 3,
            ajax: {
                dataType: "json",
                type: "GET",
                url: '/Clientes/GetClientsList',
                delay: 250,
                cache: true,
                data: function (params) {
                    params.page = params.page || 1;
                    return {
                        search: params.term,
                        filter: true,
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data.clientes,
                        pagination: {
                            more: (params.page * 10) < data.total
                        }
                    };
                }
            }
        });

        $("#Modelo").select2({
            placeholder: "Selecione um Modelo",
            allowClear: true,
            tags: true
        });

        $("#Cliente").select2({
            placeholder: "Selecione um Cliente",
            allowClear: true,
            tags: true,
            minimumInputLength: 3,
            ajax: {
                dataType: "json",
                type: "GET",
                url: '/Clientes/GetClientsList',
                delay: 250,
                cache: true,
                data: function (params) {
                    params.page = params.page || 1;
                    return {
                        search: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data.clientes,
                        pagination: {
                            more: (params.page * 10) < data.total
                        }
                    };
                }
            }
        });

        $("#Profissional").select2({
            placeholder: "Selecione um Profissional",
            allowClear: true,
            tags: true
        });

        $("#ClausulaSegundaBeneficios").mask("999");
        $("#ClausulaSegundaValor").maskMoney({ prefix: 'R$ ', allowNegative: true, thousands: '.', decimal: ',', affixesStay: true });

        $("#ClausulaSegundaPercentual").mask("999");

        $("#DataPorExtenso").datepicker({
            language: 'pt-BR',
            autoclose: true,
            todayHighlight: true,
            orientation: "bottom",
            daysOfWeekDisabled: [0, 6],
            clearBtn: true,
            datesDisabled: [@Html.Raw(Uranus.Suite.Controllers.FeriadosController.Desabilitar())]
        });

        CarregarModelos();
        CarregarProfissionais("");

        function CarregarModelos() {
            var options = {};
            options.url = "/Modelos/Listar"
            options.type = "POST";
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    var rows = json.modelos;
                    $('#Modelo').html("");
                    var select = $('#Modelo');
                    select.append(
                        $('<option selected disabled></option>').val("").html("Selecione um Modelo")
                    );

                    for (index = 0; index < rows.length; index++) {
                        select.append(
                            $('<option></option>').val(rows[index].Id).html(rows[index].Nome)
                        );
                    }


                    $('#FiltrarModelo').html("");
                    var select = $('#FiltrarModelo');
                    select.append(
                        $('<option selected disabled></option>').val("").html("Selecione um Modelo")
                    );

                    for (index = 0; index < rows.length; index++) {
                        select.append(
                            $('<option></option>').val(rows[index].Nome).html(rows[index].Nome)
                        );
                    }

                    $('#FiltrarModelo').val(@Html.Raw(Json.Encode(ViewBag.FiltrarModelo)));
                    $('#FiltrarModelo').trigger('change');
                }
            };
            $.ajax(options);
        }

        function CarregarProfissionais(Data) {

            var dados = new window.FormData();
            dados.append("Data", Data);

            var options = {};
            options.url = "/Profissionais/Listar"
            options.type = "POST";
            options.data = dados;
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    var rows = json.profissionais;
                    $('#Profissional').html("");
                    var select = $('#Profissional');
                    select.append(
                        $('<option selected disabled></option>').val("").html("Selecione um Profissional")
                    );

                    for (index = 0; index < rows.length; index++) {
                        select.append(
                            $('<option></option>').val(rows[index].Id).html(rows[index].Nome)
                        );
                    }

                    @*$('#FiltrarProfissional').html("");
                    var select = $('#FiltrarProfissional');
                    select.append(
                        $('<option selected disabled></option>').val("").html("Selecione um Profissional")
                    );

                    for (i = 0; i < rows.length; i++) {
                        select.append(
                            $('<option></option>').val(rows[i].Nome).html(rows[i].Nome)
                        );
                    }

                    $('#FiltrarProfissional').val(@Html.Raw(Json.Encode(ViewBag.FiltrarProfissional)));
                    $('#FiltrarProfissional').trigger('change');*@

                }
            };
            $.ajax(options);
        }

        $('#buttonSalvar').click(function (evt) {

            var validate = true;

            if ($('#Modelo').val() == null || !$.isNumeric($('#Modelo').val())) {
                $('#ModeloValidate').removeClass('hidden').css("display", "");
                validate = false;
            } else {
                $('#ModeloValidate').addClass('hidden');
            }

            if ($('#Cliente').val() == null || !$.isNumeric($('#Cliente').val())) {
                $('#ClienteValidate').removeClass('hidden').css("display", "");
                validate = false;
            } else {
                $('#ClienteValidate').addClass('hidden');
            }

            if (validate) {

                $("#buttonSalvar").attr('disabled', true);
                $("#buttonSalvar").html("Salvando, aguarde <i class='fa fa-spinner fa-spin'></i>");

                var dados = new window.FormData();
                dados.append("Id", $("#id").val());
                dados.append("IdModelo", $("#Modelo").val());
                dados.append("IdCliente", $("#Cliente").val());
                dados.append("IdProfissional", $("#Profissional").val());
                dados.append("ClausulaPrimeira", $("#ClausulaPrimeira").val());
                dados.append("ClausulaSegundaBeneficios", $("#ClausulaSegundaBeneficios").val());
                dados.append("ClausulaSegundaValor", $("#ClausulaSegundaValor").val());
                dados.append("ClausulaSegundaParcelas", $("#ClausulaSegundaParcelas").val());
                dados.append("ClausulaSegundaVencimentoDia", $("#ClausulaSegundaVencimentoDia").val());
                dados.append("ClausulaSegundaVencimento", $("#ClausulaSegundaVencimento").val());
                dados.append("ClausulaSegundaPercentual", $("#ClausulaSegundaPercentual").val());
                dados.append("EspecificacaoProcuracao", $("#EspecificacaoProcuracao").val());
                dados.append("CidadeEstado", $("#CidadeEstado").val());
                dados.append("DataPorExtenso", $("#DataPorExtensoValor").val());

                var options = {};
                options.url = "/Documentos/Salvar"
                options.type = "POST";
                options.data = dados;
                options.asyn = true;
                options.contentType = false;
                options.processData = false;
                options.dataType = "application/json; charset=utf-8";
                options.complete = function (data) {

                    var json = $.parseJSON(data.responseText);

                    if (json.codigo == '00') {

                        $("#documento-alert-success").removeClass("hidden");
                        $("#documento-alert-error").addClass("hidden");

                        $("#buttonSalvar").text("Salvar");
                        $("#buttonSalvar").attr('disabled', false);

                    }
                    else {

                        $("#documento-alert-success").addClass("hidden");
                        $("#documento-alert-error").removeClass("hidden");

                        $("#buttonSalvar").text("Salvar");
                        $("#buttonSalvar").attr('disabled', false);

                    }

                    setTimeout(function () {
                        $("#documento-alert-success").addClass("hidden");
                        $("#documento-alert-error").addClass("hidden");
                    }, 3000);

                };
                $.ajax(options);

                evt.preventDefault();
            }
            else {
                return false;
            }

        });

        $('#buttonFechar').click(function (evt) {

            LimparCadastro();

            $("#tab-listar").click();

        });

        $('#tab-listar').click(function (evt) {

            $('#id').val("0");

            LimparCadastro();

        });

        $('#tab-cadastrar').click(function (evt) {

            LimparCadastro();

        });

        $('#tab-visualizar').click(function (evt) {

            $('#id').val("0");
            $('#Nome').val("");

        });

        function Visualizar(Id) {

            $('#VisualizarDocumento').html('Carregando, aguarde <i class="fa fa-spinner fa-spin"></i>');

            var url = '@Url.Action("View", "Documentos")';
            url += '/?Id=' + Id ;
            $("#VisualizarDocumento").load(url);
            $("#tab-visualizar").click();

        }

        function Alterar(Id) {

            $('#TituloDocumento').html("<b>Alterar Documento</b>");

            $('#id').val(Id);

            var dados = new window.FormData();
            dados.append("Id", Id);

            var options = {};
            options.url = "/Documentos/Consultar"
            options.type = "POST";
            options.data = dados;
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    $("#tab-cadastrar").click();

                    $('#id').val(json.documento[0].Id);
                    $('#Modelo').val(json.documento[0].IdModelo);
                    $('#Modelo').trigger('change');

                    var select = $('#Cliente');
                    select.append(
                        $('<option selected></option>').val(json.documento[0].IdCliente).html(json.documento[0].ClienteNome)
                    );
                    $('#Cliente').trigger('change');

                    $('#Profissional').val(json.documento[0].IdProfissional);
                    $('#Profissional').trigger('change');

                    $('#ClausulaPrimeira').val(json.documento[0].ClausulaPrimeira);
                    $('#ClausulaSegundaBeneficios').val(json.documento[0].ClausulaSegundaBeneficios);
                    $('#ClausulaSegundaValor').val(json.documento[0].ClausulaSegundaValor);
                    $('#ClausulaSegundaParcelas').val(json.documento[0].ClausulaSegundaParcelas);
                    $('#ClausulaSegundaVencimentoDia').val(json.documento[0].ClausulaSegundaVencimentoDia);
                    $('#ClausulaSegundaVencimento').val(json.documento[0].ClausulaSegundaVencimento);
                    $('#ClausulaSegundaPercentual').val(json.documento[0].ClausulaSegundaPercentual);
                    $('#EspecificacaoProcuracao').val(json.documento[0].EspecificacaoProcuracao);
                    $('#CidadeEstado').val(json.documento[0].CidadeEstado);
                    $('#DataPorExtensoValor').val(json.documento[0].DataPorExtenso);

                    $('#DataCadastro').val(json.documento[0].DataCadastro);
                    $('#UsuarioCadastro').val(json.documento[0].UsuarioCadastro);
                    $('#DataAlteracao').val(json.documento[0].DataAlteracao);
                    $('#UsuarioAlteracao').val(json.documento[0].UsuarioAlteracao);

                }
            };
            $.ajax(options);
        }

        function Excluir(Id, Modelo, Cliente) {
            $('h4').text('Você deseja realmente excluir esse Documento (' + Modelo + " - " + Cliente + ')?');
            $('#id').val(Id);
            $('#nome').val(Modelo);
        }

        function ExcluirConfirmado() {
            var dados = new window.FormData();
            dados.append("Id", $("#id").val());

            $('#id').val('');

            var options = {};
            options.url = "/Documentos/Excluir"
            options.type = "POST";
            options.data = dados;
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    $('h4').text('Documento excluído com sucesso!');
                    $('#modalMensagem').attr('data-backdrop', 'static');
                    $('#modalMensagem').attr('data-keyboard', 'false');
                    $('#modalMensagem').modal('show');
                    $("#documento-form").validate().resetForm();

                    Atualizar();

                }
                else if (json.codigo == '98') {

                    $('h4').text('Não foi possível excluir o Documento (' + $("#nome").val() + ') por que está sendo usado em outras tabelas! Você pode inativar ele para não ser usado novamente.');
                    $('#modalMensagem').attr('data-backdrop', 'static');
                    $('#modalMensagem').attr('data-keyboard', 'false');
                    $('#modalMensagem').modal('show');

                }
                else if (json.codigo == '99') {

                    $('h4').text('Ocorreu um erro que impossibilitou a exclusão do Documento (' + $("#nome").val() + '), tente mais tarde! Se o problema persistir, entre em contato com o suporte.');
                    $('#modalMensagem').attr('data-backdrop', 'static');
                    $('#modalMensagem').attr('data-keyboard', 'false');
                    $('#modalMensagem').modal('show');

                }

            };
            $.ajax(options);
        }

        function Exportar(Id) {

            var dados = new window.FormData();
            dados.append("Id", Id);

            var options = {};
            options.url = "/Documentos/Export"
            options.type = "POST";
            options.data = dados;
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    const linkSource = `data:application/pdf;base64,${json.documento}`;
                    const link = document.createElement("a");
                    const fileName = "documento.pdf";

                    link.href = linkSource;
                    link.download = fileName;
                    link.click();

                }
                else {


                }

            };
            $.ajax(options);

        }

        function Atualizar() {
           $(location).attr('href', '../Documentos');
        }

        function LimparFiltro() {

            $("#FiltrarDataValor").val("");

            $("#FiltrarModelo").val("");
            $("#FiltrarModelo").trigger("change");

            $("#FiltrarCliente").val("");
            $("#FiltrarCliente").trigger("change");

            $("#documento-filtro-form").submit();
        }

        function LimparCadastro() {

            $("#Modelo").val("");
            $("#Modelo").trigger("change");

            $("#Cliente").val("");
            $("#Cliente").trigger("change");

            $("#Profissional").val("");
            $("#Profissional").trigger("change");

            $("#ClausulaPrimeira").val("");
            $("#ClausulaSegundaBeneficios").val("");
            $("#ClausulaSegundaValor").val("");
            $("#ClausulaSegundaParcelas").val("");
            $("#ClausulaSegundaVencimentoDia").val("");
            $("#ClausulaSegundaVencimento").val("");
            $("#ClausulaSegundaPercentual").val("");
            $("#EspecificacaoProcuracao").val("");
            $("#CidadeEstado").val("");
            $("#DataPorExtensoValor").val("");

            $("#VisualizarDocumento").html("<p>Nenhum documento foi selecionado para visualização.</p>");

        }

        function Modelo() {
            //var saldo = 0;
            //var valorParcela = $('#ValorParcela').val().replace(/[.]/g, '').replace(',', '.');
            //var valorPago = $('#ValorPago').val().replace(/[.]/g, '').replace(',', '.');
            //var descontos = $('#Descontos').val().replace(/[.]/g, '').replace(',', '.');
            //var juros = $('#Juros').val().replace(/[.]/g, '').replace(',', '.');

            if (FiltrarModelo == 0) {
                descontos = 0
            }

            //if (juros.length == 0) {
            //    juros = 0
            //}

            //saldo = (parseFloat(valorParcela) - parseFloat(valorPago) - parseFloat(descontos) + parseFloat(juros));

            //            $('#Saldo').val()(numberToReal(saldo));

//            $('#Saldo').val(saldo);
        }

    </script>
</div>