@{
    ViewBag.Title = "Financeiro Parametrização \\ Cadastrar Origem";
}

<div class="main_container">

    <input type="hidden" id="id" name="id" value="">
    <input type="hidden" id="nome" name="nome" value="">

    <div id="modalNovo" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <form id="financeiro-form">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 24pt;">&times;</span></button>
                        <h3 class="modal-title"><label id="modalLabelTitle" name="modalLabelTitle">Nova Origem</label></h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="titlefield">Nome <span class="required">*</span></label>
                                    <input type="text" class="form-control" placeholder="Informe o Nome da Origem" id="Nome" name="Nome" data-msg-required="Por favor, insira o Nome da Origem." data-rule-required="true" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="titlefield">Tipo</label>
                                    <select id="Tipo" name="Tipo" class="select2_single form-control">
                                        <option value="">Selecione Tipo</option>
                                        <option value="B">Banco</option>
                                        <option value="C">Caixa</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label id="LabelOrigem" class="titlefield ">Local de Origem</label><br />
                                    <select id="Caixa" name="Caixa" class="form-control placeholder hidden">
                                        <option value="" style="background-color: #eaeaea;">Selecione um Caixa de Origem</option>
                                    </select>
                                    <select id="Banco" name="Banco" class="form-control placeholder hidden">
                                        <option value="" style="background-color: #eaeaea;">Selecione Banco de Origem</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="buttonSalvar" type="button" class="btn btn-primary" style="margin: 0;" data-dismiss="modal">Salvar</button>
                        &nbsp;
                        <button type="button" class="btn btn-default" style="margin: 0;" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div id="modalExcluir" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 24pt;">&times;</span></button>
                    <h3 class="modal-title" id="modalLabelExcluir">Excluir Origem</h3>
                </div>
                <div class="modal-body">
                    <h4>Você deseja realmente excluir essa Origem?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" style="margin: 0;" data-dismiss="modal" onclick="ExcluirConfirmado();">Sim</button>
                    &nbsp;
                    <button type="button" class="btn btn-default" style="margin: 0;" data-dismiss="modal">Não</button>
                </div>
            </div>

        </div>
    </div>

    <!-- page content -->
    <div role="main">
        <div class="">

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        @{ WebGrid grid = new WebGrid(Model); }
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Criar e Filtrar Origem</h2>
                                        <ul class="right panel_toolbox" style="list-style: none;">
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalNovo" style="margin-top: 25px !important;" onclick="Novo();">Novo</button>
                                                </div>
                                                @using (Html.BeginForm("Index", "FinanceiroOrigem", FormMethod.Get, null))
                                                {
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="titlefield">Procura na Coluna Nome</label>
                                                            <input id="search" name="search" type="search" class="form-control" placeholder="Informe o Nome" value="@ViewBag.search" style="border: 1px solid #CCCCCC !important;" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group" style="vertical-align: bottom !important;">
                                                            <button type="submit" class="btn btn-primary" style="margin-top: 25px !important;">Filtrar</button>
                                                            &nbsp;
                                                            <button type="submit" class="btn btn-default" style="margin-top: 25px !important;" onclick="$('#search').val('');">Limpar</button>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            @{
                                @grid.GetHtml(
                                     tableStyle: "webgrid",
                                     fillEmptyRows: false,
                                     headerStyle: "webgrid-header",
                                     alternatingRowStyle: "webgrid-alternating-row",
                                     rowStyle: "webgrid-row-style",
                                     selectedRowStyle: "webgrid-selected-row",
                                     footerStyle: "webgrid-footer",
                                     mode: WebGridPagerModes.All,
                                     firstText: "Primeiro",
                                     previousText: "Anterior",
                                     nextText: "Próximo",
                                     lastText: "Último",
                                     numericLinksCount: 5,
                                     columns: new[] {
                                     grid.Column("Nome", header: "Origem"),
                                grid.Column("Id", header: "Ações", canSort:false,
                                                         format:
                    @<text>
                        @Html.Raw("<a class='btn btn-default btn-xs' data-toggle='modal' data-target='#modalNovo' onclick='Visualizar(" + item.Id + ");'>Visualizar</a>")
                        @Html.Raw("<a class='btn btn-primary btn-xs' data-toggle='modal' data-target='#modalNovo' onclick='Alterar(" + item.Id + ");'>Alterar</a>")
                        @Html.Raw("<a class='btn btn-danger  btn-xs' data-toggle='modal' data-target='#modalExcluir' onclick='Excluir(" + item.Id + ", " + '"' + item.Nome + '"' + ");'>Excluir</a>")
                    </text>)
});

                                int firstRecord = (grid.PageIndex * grid.RowsPerPage) + 1;
                                int lastRecord = (grid.PageIndex * grid.RowsPerPage) + grid.Rows.Count();

                                var totalRecord = "Nenhuma linha encontrada";

                                if (grid.TotalRowCount == 1)
                                {
                                    totalRecord = "Mostrando " + firstRecord + " a " + lastRecord + " de " + grid.TotalRowCount + " linha";
                                }
                                else if (grid.TotalRowCount > 1)
                                {
                                    totalRecord = "Mostrando " + firstRecord + " a " + lastRecord + " de " + grid.TotalRowCount + " linhas";
                                }

                                <div class="right">@totalRecord</div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /page content -->

    <script>

        CarregarSedes();
        CarregarBancos();

        function CarregarSedes() {

            var dados = new window.FormData();
            var options = {};
            options.url = "/Sedes/ListarClientes"
            options.type = "POST";
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    var rows = json.sedes;
                    $('#Caixa').html("0");
                    var select = $('#Caixa');
                    select.append(
                        $('<option selected></option>').val("0").html("Selecione um Caixa")
                    );

                    for (index = 0; index < rows.length; index++) {

                        select.append(
                            $('<option></option>').val(rows[index].Id).html(rows[index].Nome)
                        );
                    }

                }
            };
            $.ajax(options);
        }

        function CarregarBancos() {

            var dados = new window.FormData();
            var options = {};
            options.url = "/Bancos/Listar"
            options.type = "POST";
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    var rows = json.bancos;
                    $('#Banco').html("0");
                    var select = $('#Banco');
                    select.append(
                        $('<option selected></option>').val("0").html("Selecione um Banco")
                    );

                    for (index = 0; index < rows.length; index++) {

                        select.append(
                            $('<option></option>').val(rows[index].Id).html(rows[index].Nome)
                        );
                    }
                }
            };
            $.ajax(options);
        }

        $('#Tipo').on('change', function () {
            var _val = $(this).val();
            if (_val == 'C') {
                ShowOrigem("C");

            }
            else if (_val == 'B') {
                ShowOrigem("B");
            }
        });

        function ShowOrigem(Tipo) {


            if (Tipo == "C") {
                $("#Caixa").removeClass("hidden");
                $("#Banco").addClass("hidden");
                $("#Tipo").next(".select2-container").hide();

            } else if (Tipo == "B") {
                $("#Banco").removeClass("hidden");
                $("#Caixa").addClass("hidden");
                $("#Tipo").next(".select2-container").hide();

            }
        }

        function Novo() {
            $('#modalLabelTitle').text('Nova Origem');
            $('#Nome').attr('disabled', false);
            $('#Nome').val('');
            $('Tipo').attr('disabled', false);
            $('#Tipo').val('');
            $('#Caixa').attr('disabled', false);
            $('#Banco').attr('disabled', false);
            $('#buttonSalvar').attr('disabled', false);
            $('#id').val(0);
            $("#financeiro-form").validate().resetForm();
        }

        function Visualizar(Id) {
            $('#modalLabelTitle').text('Visualizar Origem');
            $('#Nome').attr('disabled', true);
            $('#Tipo').attr('disabled', true);
            $('#Caixa').attr('disabled', true);
            $('#Banco').attr('disabled', true);
            $('#buttonSalvar').attr('disabled', true);
            $("#financeiro-form").validate().resetForm();

            var dados = new window.FormData();
            dados.append("Id", Id);

            var options = {};
            options.url = "/FinanceiroOrigem/Consultar"
            options.type = "POST";
            options.data = dados;
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    $('#Nome').val(json.financeiroorigem[0].Nome);
                    $('#Tipo').val(json.financeiroorigem[0].Tipo);

                    $('#Caixa').append($('<option selected></option>').val(json.financeiroorigem[0].IdCaixa).html(json.financeiroorigem[0].CaixaNome));
                    $('#Caixa').trigger('change');

                    $('#Banco').append($('<option selected></option>').val(json.financeiroorigem[0].IdBanco).html(json.financeiroorigem[0].BancoNome));
                    $('#Banco').trigger('change');

                    ShowOrigem(json.financeiroorigem[0].Tipo);
                }
            };
            $.ajax(options);
        }

        function Alterar(Id) {
            $('#modalLabelTitle').text('Alterar Origem');
            $('#Nome').attr('disabled', false);
            $('#Tipo').attr('disabled', false);
            $('#Caixa').attr('disabled', false);
            $('#Banco').attr('disabled', false);
            $('#buttonSalvar').attr('disabled', false);
            $("#financeiro-form").validate().resetForm();

            var dados = new window.FormData();
            dados.append("Id", Id);

            var options = {};
            options.url = "/FinanceiroOrigem/Consultar"
            options.type = "POST";
            options.data = dados;
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    $('#id').val(Id);
                    $('#Nome').val(json.financeiroorigem[0].Nome);
                    $('#Tipo').val(json.financeiroorigem[0].Tipo);

                    $('#Caixa').append($('<option selected></option>').val(json.financeiroorigem[0].IdCaixa).html(json.financeiroorigem[0].CaixaNome));
                    $('#Caixa').trigger('change');

                    $('#Banco').append($('<option selected></option>').val(json.financeiroorigem[0].IdBanco).html(json.financeiroorigem[0].BancoNome));
                    $('#Banco').trigger('change');

                    ShowOrigem(json.financeiroorigem[0].Tipo);

                }
            };
            $.ajax(options);
        }

        function Excluir(Id, Nome) {
            $('h4').text('Você deseja realmente excluir essa Origem (' + Nome + ')?');
            $('#id').val(Id);
            $('#nome').val(Nome);
        }

        $('#buttonSalvar').click(function (evt) {

            $("#financeiro-form").validate();

            if ($('#financeiro-form').valid()) {

                var dados = new window.FormData();
                dados.append("Id", $("#id").val());
                dados.append("Nome", $("#Nome").val());

                var options = {};
                options.url = "/FinanceiroOrigem/Salvar"
                options.type = "POST";
                options.data = dados;
                options.asyn = true;
                options.contentType = false;
                options.processData = false;
                options.dataType = "application/json; charset=utf-8";
                options.complete = function (data) {

                    var json = $.parseJSON(data.responseText);

                    if (json.codigo == '00') {

                        $('h4').text('Origem salva com sucesso!');
                        $('#modalMensagem').attr('data-backdrop', 'static');
                        $('#modalMensagem').attr('data-keyboard', 'false');
                        $('#modalMensagem').modal('show');
                        $("#financeiro-form").validate().resetForm();

                    }
                };
                $.ajax(options);

                evt.preventDefault();
            }
            else {
                return false;
            }

        });

        function ExcluirConfirmado() {
            var dados = new window.FormData();
            dados.append("Id", $("#id").val());

            $('#id').val('');

            var options = {};
            options.url = "/FinanceiroOrigem/Excluir"
            options.type = "POST";
            options.data = dados;
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    $('h4').text('Origem excluída com sucesso!');
                    $('#modalMensagem').attr('data-backdrop', 'static');
                    $('#modalMensagem').attr('data-keyboard', 'false');
                    $('#modalMensagem').modal('show');
                    $("#financeiro-form").validate().resetForm();

                }
                else if (json.codigo == '98') {

                    $('h4').text('Não foi possível excluir a Origem (' + $("#nome").val() + ') por que está sendo usado em outras tabelas! Você pode inativar ele para não ser usado novamente.');
                    $('#modalMensagem').attr('data-backdrop', 'static');
                    $('#modalMensagem').attr('data-keyboard', 'false');
                    $('#modalMensagem').modal('show');

                }
                else if (json.codigo == '99') {

                    $('h4').text('Ocorreu um erro que impossibilitou a exclusão da Origem (' + $("#nome").val() + '), tente mais tarde! Se o problema persistir, entre em contato com o suporte.');
                    $('#modalMensagem').attr('data-backdrop', 'static');
                    $('#modalMensagem').attr('data-keyboard', 'false');
                    $('#modalMensagem').modal('show');

                }

            };
            $.ajax(options);
        }

        function Atualizar() {
            $(location).attr('href', '../FinanceiroOrigem');
        }

    </script>

</div>