@{
    ViewBag.Title = "Financeiro Parametrização \\ Cadastrar Indicação Clientes";
}

<div class="main_container">

    <input type="hidden" id="id" name="id" value="">
    <input type="hidden" id="nome" name="nome" value="">

    <div id="modalNovo" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <form id="indicacao-form">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 24pt;">&times;</span></button>
                        <h3 class="modal-title"><label id="modalLabelTitle" name="modalLabelTitle">Nova Indicação</label></h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="titlefield">Nome Cliente <span class="required">*</span></label>
                                    <select id="Cliente" name="Cliente" class="select2_single form-control" style="width: 100% !important;"></select>
                                    <label id="ClienteValidate" name="ClienteValidate" for="Cliente" class="error hidden"> Por favor, selecione um Cliente.</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="titlefield">Caixa </label>
                                    <input type="text" class="form-control" placeholder="Informe o Percentual" id="Caixa" name="Caixa" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="titlefield">% NF </label>
                                    <input type="text" class="form-control" placeholder="Informe o Percentual" id="PercentualNF" name="PercentualNF" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="titlefield">Tipo de Comissao</label>
                                    <select id="TipoComissao" name="TipoComissao" class="select2_single form-control">
                                        <option value="">Selecione um Tipo</option>
                                        <option value="Total">Total</option>
                                        <option value="Liquido">Líquido</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="titlefield">Nome Profissional </label>
                                    <select id="Profissional" name="Profissional" class="select2_single form-control" style="width: 100% !important;"></select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="titlefield">Nome Parceiro 1</label>
                                    @*<select id="Indicacao1" name="Indicacao1" class="select2_single form-control" style="width: 100% !important;"></select>*@
                                    <select id="Indicacao1" name="Indicacao1" class="form-control placeholder">
                                        <option value="" style="background-color: #eaeaea;">Selecione o Parceiro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="titlefield">% Parceiro 1</label>
                                    <input type="text" class="form-control" placeholder="Informe o Percentual" id="PercentualIndicacao1" name="PercentualIndicacao1" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="titlefield">Nome Parceiro 2</label>
                                    <select id="Indicacao2" name="Indicacao2" class="form-control placeholder">
                                        <option value="" style="background-color: #eaeaea;">Selecione o Parceiro</option>
                                    </select>
                                    @*<label class="titlefield">Nome Parceiro 2</label>
                                        <select id="Indicacao2" name="Indicacao2" class="select2_single form-control" style="width: 100% !important;"></select>*@
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="titlefield">% Parceiro 2</label>
                                    <input type="text" class="form-control" placeholder="Informe o Percentual" id="PercentualIndicacao2" name="PercentualIndicacao2" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button id="buttonSalvar" type="button" class="btn btn-primary" style="margin: 0;" data-dismiss="modal">Salvar</button>
                        &nbsp;
                        <button type="button" class="btn btn-default" style="margin: 0;" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div id="modalExcluir" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 24pt;">&times;</span></button>
                    <h3 class="modal-title" id="modalLabelExcluir">Excluir Indicação</h3>
                </div>
                <div class="modal-body">
                    <h4>Você deseja realmente excluir essea Indicação?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" style="margin: 0;" data-dismiss="modal" onclick="ExcluirConfirmado();">Sim</button>
                    &nbsp;
                    <button type="button" class="btn btn-default" style="margin: 0;" data-dismiss="modal">Não</button>
                </div>
            </div>

        </div>
    </div>

    <!-- page content -->
    <div role="main">
        <div class="">

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        @{ WebGrid grid = new WebGrid(Model); }
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Criar e Filtrar Indicação de Clientes</h2>
                                        <ul class="right panel_toolbox" style="list-style: none;">
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalNovo" style="margin-top: 25px !important;" onclick="Novo();">Novo</button>
                                                </div>
                                                @using (Html.BeginForm("Index", "ClientesFinanceiroIndicacoes", FormMethod.Get, null))
                                                {
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="titlefield">Procura na Coluna Nome</label>
                                                            <input id="search" name="search" type="search" class="form-control" placeholder="Informe o Nome" value="@ViewBag.search" style="border: 1px solid #CCCCCC !important;" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group" style="vertical-align: bottom !important;">
                                                            <button type="submit" class="btn btn-primary" style="margin-top: 25px !important;">Filtrar</button>
                                                            &nbsp;
                                                            <button type="submit" class="btn btn-default" style="margin-top: 25px !important;" onclick="$('#search').val('');">Limpar</button>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            @{
                                @grid.GetHtml(
                                     tableStyle: "webgrid",
                                     fillEmptyRows: false,
                                     headerStyle: "webgrid-header",
                                     alternatingRowStyle: "webgrid-alternating-row",
                                     rowStyle: "webgrid-row-style",
                                     selectedRowStyle: "webgrid-selected-row",
                                     footerStyle: "webgrid-footer",
                                     mode: WebGridPagerModes.All,
                                     firstText: "Primeiro",
                                     previousText: "Anterior",
                                     nextText: "Próximo",
                                     lastText: "Último",
                                     numericLinksCount: 5,
                                     columns: new[] {
                                     grid.Column("Clientes.Pessoas.Nome", header: "Nome Cliente"),
                                grid.Column("Id", header: "Ações", canSort:false,
                                                         format:
                    @<text>
                        @Html.Raw("<a class='btn btn-default btn-xs' data-toggle='modal' data-target='#modalNovo' onclick='Visualizar(" + item.Id + ");'>Visualizar</a>")
                        @Html.Raw("<a class='btn btn-primary btn-xs' data-toggle='modal' data-target='#modalNovo' onclick='Alterar(" + item.Id + ");'>Alterar</a>")
                        @Html.Raw("<a class='btn btn-danger  btn-xs' data-toggle='modal' data-target='#modalExcluir' onclick='Excluir(" + item.Id + ", " + '"' + item.Clientes.Pessoas.Nome + '"' + ");'>Excluir</a>")
                    </text>)
});

                                int firstRecord = (grid.PageIndex * grid.RowsPerPage) + 1;
                                int lastRecord = (grid.PageIndex * grid.RowsPerPage) + grid.Rows.Count();

                                var totalRecord = "Nenhuma linha encontrada";

                                if (grid.TotalRowCount == 1)
                                {
                                    totalRecord = "Mostrando " + firstRecord + " a " + lastRecord + " de " + grid.TotalRowCount + " linha";
                                }
                                else if (grid.TotalRowCount > 1)
                                {
                                    totalRecord = "Mostrando " + firstRecord + " a " + lastRecord + " de " + grid.TotalRowCount + " linhas";
                                }

                                <div class="right">@totalRecord</div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /page content -->

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/validates_me.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.maskMoney.js"></script>
    <script src="~/Scripts/select/select2.full.js"></script>

    <script>

        $("#Caixa").maskMoney({ allowNegative: true, thousands: '.', decimal: ',', affixesStay: true });
        $("#PercentualNF").maskMoney({ allowNegative: true, thousands: '.', decimal: ',', affixesStay: true });
        $("#PercentualIdIndicacao1").maskMoney({ allowNegative: true, thousands: '.', decimal: ',', affixesStay: true });
        $("#PercentualIdIndicacao2").maskMoney({ allowNegative: true, thousands: '.', decimal: ',', affixesStay: true });

        $("#Cliente").select2({
            dropdownParent: $('#modalNovo'),
            placeholder: "Selecione um Cliente",
            allowClear: true,
            tags: true,
            minimumInputLength: 3,
            ajax: {
                dataType: "json",
                type: "GET",
                url: '/Clientes/GetClientsList',
                delay: 250,
                cache: true,
                data: function (params) {
                    params.page = params.page || 1;
                    return {
                        search: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data.clientes,
                        pagination: {
                            more: (params.page * 10) < data.total
                        }
                    };
                }
            }
        });

        $("#Profissional").select2({
            dropdownParent: $('#modalNovo'),
            placeholder: "Selecione um Profissional",
            allowClear: true,
            tags: true,
            minimumInputLength: 3,
            ajax: {
                dataType: "json",
                type: "GET",
                url: '/Profissionais/GetProfissionaisList',
                delay: 250,
                cache: true,
                data: function (params) {
                    params.page = params.page || 1;
                    return {
                        search: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data.profissionais,
                        pagination: {
                            more: (params.page * 10) < data.total
                        }
                    };
                }
            }
        });

        CarregarParceiros();
        function CarregarParceiros() {

            var options = {};
            options.url = "/Parceiros/Listar"
            options.type = "POST";
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    var rows = json.parceiros;

                    $('#Indicacao1').html("");
                    var select = $('#Indicacao1');

                    select.append(
                        $('<option selected disabled style="background-color: #eaeaea;"></option>').val("").html("Selecione o Parceiro")
                    );

                    for (index = 0; index < rows.length; index++) {

                        select.append(
                            $('<option></option>').val(rows[index].Id).html(rows[index].Nome)
                        );

                    }

                    $('#Indicacao2').html("");
                    var select = $('#Indicacao2');

                    select.append(
                        $('<option selected disabled style="background-color: #eaeaea;"></option>').val("").html("Selecione o Parceiro")
                    );

                    for (index = 0; index < rows.length; index++) {

                        select.append(
                            $('<option></option>').val(rows[index].Id).html(rows[index].Nome)
                        );

                    }
                }
            };
            $.ajax(options);

        }

        function Novo() {
            $('#modalLabelTitle').text('Novo Imposto');
            $('#Cliente').attr('disabled', false);
            $('#Cliente').val('');
            $('#Caixa').attr('disabled', false);
            $('#Caixa').val('');
            $('#PercentualNF').attr('disabled', false);
            $('#PercentualNF').val('');
            $('#Profissional').attr('disabled', false);
            $('#Profissional').val('');
            $('#Indicacao1').attr('disabled', false);
            $('#Indicacao1').val('');
            $('#PercentualIndicacao1').attr('disabled', false);
            $('#PercentualIndicacao1').val('');
            $('#Indicacao2').attr('disabled', false);
            $('#Indicacao2').val('');
            $('#PercentualIndicacao2').attr('disabled', false);
            $('#PercentualIndicacao2').val('');
            $('#TipoComissao').attr('disabled', false);
            $('#TipoComissao').val('');
            $('#buttonSalvar').attr('disabled', false);
            $('#id').val(0);
            $("#indicacao-form").validate().resetForm();
        }

        function Visualizar(Id) {
            $('#modalLabelTitle').text('Visualizar Indicação do Cliente');
            $('#Cliente').attr('disabled', true);
            $('#Caixa').attr('disabled', true);
            $('#PercentualNF').attr('disabled', true);
            $('#Profissional').attr('disabled', true);
            $('#Indicacao1').attr('disabled', true);
            $('#PercentualIndicacao1').attr('disabled', true);
            $('#Indicacao2').attr('disabled', true);
            $('#PercentualIndicacao2').attr('disabled', true);
            $('#TipoComissao').attr('disabled', true);

            $('#buttonSalvar').attr('disabled', true);
            $("#indicacao-form").validate().resetForm();

            var dados = new window.FormData();
            dados.append("Id", Id);

            var options = {};
            options.url = "/ClientesFinanceiroIndicacoes/Consultar"
            options.type = "POST";
            options.data = dados;
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    $('#Cliente').append($('<option selected></option>').val(json.clientesfinanceiroindicacoes[0].IdCliente).html(json.clientesfinanceiroindicacoes[0].NomeCliente));
                    $('#Cliente').trigger('change');

                    $('#Caixa').val(json.clientesfinanceiroindicacoes[0].Caixa);
                    $('#PercentualNF').val(json.clientesfinanceiroindicacoes[0].PercentualNF);

                    $('#Profissional').append($('<option selected></option>').val(json.clientesfinanceiroindicacoes[0].IdProfissional).html(json.clientesfinanceiroindicacoes[0].NomeProfissional));
                    $('#Profissional').trigger('change');

                    $('#Indicacao1').append($('<option selected></option>').val(json.clientesfinanceiroindicacoes[0].IdIndicacao1).html(json.clientesfinanceiroindicacoes[0].NomeIndicacao1));
                    $('#Indicacao1').trigger('change');
                    $('#Indicacao1').val(json.clientesfinanceiroindicacoes[0].IdIndicacao1);

                    $('#PercentualIndicacao1').val(json.clientesfinanceiroindicacoes[0].PercentualIndicacao1);

                    $('#Indicacao2').append($('<option selected></option>').val(json.clientesfinanceiroindicacoes[0].IdIndicacao2).html(json.clientesfinanceiroindicacoes[0].NomeIndicacao2));
                    $('#Indicacao2').trigger('change');
                    $('#Indicacao2').val(json.clientesfinanceiroindicacoes[0].IdIndicacao2);

                    $('#PercentualIndicacao2').val(json.clientesfinanceiroindicacoes[0].PercentualIndicacao2);

                    $('#TipoComissao').val(json.clientesfinanceiroindicacoes[0].TipoComissao);

                }
            };
            $.ajax(options);
        }

        function Alterar(Id) {
            $('#modalLabelTitle').text('Alterar Indicação do Cliente');
            $('#Cliente').attr('disabled', false);
            $('#Caixa').attr('disabled', false);
            $('#PercentualNF').attr('disabled', false);
            $('#Profissional').attr('disabled', false);
            $('#Indicacao1').attr('disabled', false);
            $('#PercentualIndicacao1').attr('disabled', false);
            $('#Indicacao2').attr('disabled', false);
            $('#PercentualIndicacao2').attr('disabled', false);
            $('#TipoComissao').attr('disabled', false);
            $('#buttonSalvar').attr('disabled', false);
            $("#indicacao-form").validate().resetForm();

            var dados = new window.FormData();
            dados.append("Id", Id);

            var options = {};
            options.url = "/ClientesFinanceiroIndicacoes/Consultar"
            options.type = "POST";
            options.data = dados;
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    $('#id').val(Id);
                    $('#Cliente').append($('<option selected></option>').val(json.clientesfinanceiroindicacoes[0].IdCliente).html(json.clientesfinanceiroindicacoes[0].NomeCliente));
                    $('#Cliente').trigger('change');

                    $('#Caixa').val(json.clientesfinanceiroindicacoes[0].Caixa);
                    $('#PercentualNF').val(json.clientesfinanceiroindicacoes[0].PercentualNF);

                    $('#Profissional').append($('<option selected></option>').val(json.clientesfinanceiroindicacoes[0].IdProfissional).html(json.clientesfinanceiroindicacoes[0].NomeProfissional));
                    $('#Profissional').trigger('change');

                    $('#Indicacao1').append($('<option selected></option>').val(json.clientesfinanceiroindicacoes[0].IdIndicacao1).html(json.clientesfinanceiroindicacoes[0].NomeIndicacao1));
                    $('#Indicacao1').trigger('change');
                    $('#Indicacao1').val(json.clientesfinanceiroindicacoes[0].IdIndicacao1);

                    $('#PercentualIndicacao1').val(json.clientesfinanceiroindicacoes[0].PercentualIndicacao1);

                    $('#Indicacao2').append($('<option selected></option>').val(json.clientesfinanceiroindicacoes[0].IdIndicacao2).html(json.clientesfinanceiroindicacoes[0].NomeIndicacao2));
                    $('#Indicacao2').trigger('change');
                    $('#Indicacao2').val(json.clientesfinanceiroindicacoes[0].IdIndicacao2);

                    $('#PercentualIndicacao2').val(json.clientesfinanceiroindicacoes[0].PercentualIndicacao2);

                    $('#TipoComissao').val(json.clientesfinanceiroindicacoes[0].TipoComissao);
                }
            };
            $.ajax(options);
        }

        function Excluir(Id, Nome) {
            $('h4').text('Você deseja realmente excluir deste Cliente (' + Nome + ')?');
            $('#id').val(Id);
            $('#nome').val(Nome);
        }

        $('#buttonSalvar').click(function (evt) {

            $("#indicacao-form").validate();

            if ($('#indicacao-form').valid()) {

                var dados = new window.FormData();
                dados.append("Id", $("#id").val());
                dados.append("IdCliente", $("#Cliente").val());
                dados.append("Tipo", "0");
                dados.append("Caixa", $("#Caixa").val());
                dados.append("PercentualNF", $("#PercentualNF").val());
                dados.append("IdProfissional", $("#Profissional").val());
                dados.append("IdIndicacao1", $("#Indicacao1").val());
                dados.append("PercentualIndicacao1", $("#PercentualIndicacao1").val());
                dados.append("IdIndicacao2", $("#Indicacao2").val());
                dados.append("PercentualIndicacao2", $("#PercentualIndicacao2").val());
                dados.append("TipoComissao", $("#TipoComissao").val());

                var options = {};
                options.url = "/ClientesFinanceiroIndicacoes/Salvar"
                options.type = "POST";
                options.data = dados;
                options.asyn = true;
                options.contentType = false;
                options.processData = false;
                options.dataType = "application/json; charset=utf-8";
                options.complete = function (data) {

                    var json = $.parseJSON(data.responseText);

                    if (json.codigo == '00') {

                        $('h4').text('Indicação salvo com sucesso!');
                        $('#modalMensagem').attr('data-backdrop', 'static');
                        $('#modalMensagem').attr('data-keyboard', 'false');
                        $('#modalMensagem').modal('show');
                        $("#indicacao-form").validate().resetForm();

                    }
                };
                $.ajax(options);

                evt.preventDefault();
            }
            else {
                return false;
            }

        });

        function ExcluirConfirmado() {
            var dados = new window.FormData();
            dados.append("Id", $("#id").val());

            $('#id').val('');

            var options = {};
            options.url = "/ClientesFinanceiroIndicacoes/Excluir"
            options.type = "POST";
            options.data = dados;
            options.asyn = true;
            options.contentType = false;
            options.processData = false;
            options.dataType = "application/json; charset=utf-8";
            options.complete = function (data) {

                var json = $.parseJSON(data.responseText);

                if (json.codigo == '00') {

                    $('h4').text('Indicação excluído com sucesso!');
                    $('#modalMensagem').attr('data-backdrop', 'static');
                    $('#modalMensagem').attr('data-keyboard', 'false');
                    $('#modalMensagem').modal('show');
                    $("#indicacao-form").validate().resetForm();

                }
                else if (json.codigo == '98') {

                    $('h4').text('Não foi possível excluir a indicação deste Cliente (' + $("#nome").val() + ') por que está sendo usado em outras tabelas! Você pode inativar ele para não ser usado novamente.');
                    $('#modalMensagem').attr('data-backdrop', 'static');
                    $('#modalMensagem').attr('data-keyboard', 'false');
                    $('#modalMensagem').modal('show');

                }
                else if (json.codigo == '99') {

                    $('h4').text('Ocorreu um erro que impossibilitou a exclusão desse cliente (' + $("#nome").val() + '), tente mais tarde! Se o problema persistir, entre em contato com o suporte.');
                    $('#modalMensagem').attr('data-backdrop', 'static');
                    $('#modalMensagem').attr('data-keyboard', 'false');
                    $('#modalMensagem').modal('show');

                }

            };
            $.ajax(options);
        }

        function Atualizar() {
            $(location).attr('href', '../ClientesFinanceiroIndicacoes');
        }

    </script>

</div>